@font-face{
  font-family: DS-DIGI;
  src: url('assets/fonts/ds_digital/DS-DIGI.TTF');
}

.front-Text{
  position: absolute;
  left: 0px;
  top: 0; 
  width: 100%;
  height: 100%;
  margin:0;
	padding:0;
  z-index:100;
  color: black;
  font-family: DS-DIGI;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

.front-Fundo{
  position: absolute;
  left: 0px;
  top: 0; 
  width: 100%;
  height: 100%;
  margin:0;
	padding:0;
  z-index:1;
  opacity: 0.8  ;
  background-color: blueviolet;
}

#board{
  width: 800px;
  height: 550px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#comandos{
  position:relative;
  font-family: DS-DIGI;
  text-align: center;
  color:white; 
}

#profile{
  position:absolute;
  font-family: DS-DIGI;
  text-align: center;
  color:white; 
}

#rank_panel {
  font-family: DS-DIGI;
  text-align: center;
  color:white; 
}

#score{
  background-color: blueviolet;
}